<section class="section">
  <div class="container">
    <div class="wrap">
      <div class="box-about">
        <h2 class="mein-title" id="section-about-us">About Us</h2>
        <div class="box-text-about">
          <p class="text-about top">
            Welcome to our premium watch collection, where luxury and style meet
            functionality and precision. Our selection of timepieces embodies
            the very best in Swiss craftsmanship and engineering, ensuring that
            you'll always have a reliable and stylish accessory on your wrist.
          </p>

          <p class="text-about">
            At our premium watch collection, we believe that a watch is more
            than just a timekeeping device – it's a statement piece that
            reflects your personality and style. So why settle for anything less
            than the best?
          </p>
        </div>
        <button class="button-about" type="button">
          <a href="#catalog">View catalog</a>
        </button>
      </div>
      <div class="box-about-img">
        <picture>
          <source
            media="(max-width:767px)"
            srcset="
              ./img/about/watch-mobile@1x.webp 1x,
              ./img/about/watch-mobile@2x.webp 2x
            "
          />
          <source
            media="(min-width:768px) and (max-width:1279px)"
            srcset="
              ./img/about/watch-tablet@1x.webp 1x,
              ./img/about/watch-tablet@2x.webp 2x
            "
          />
          <source
            media="(min-width:1280px)"
            srcset="
              ./img/about/watch-desktop@1x.webp 1x,
              ./img/about/watch-desktop@2x.webp 2x
            "
          />
          <img
            class="img-about"
            src="./img/about/watch-mobile@1x.webp 1x"
            alt="photo with wristwatch"
            width="704"
            height="512"
            loading="lazy"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
