<section class="section">
    <div class="advertisement container">
        <h2 class="visually-hidden">Advertisement Section</h2>
        <p class="p-advertisement">Choose <span class="span-second-lvl-title">your story</span>, making every moment
            unique. Time is your style,
            and we reveal it.</p>
        <button type="button" onclick="location.href='#Contact-us-section'" class="to-contact-scroll-btn">Contact
            us</button>
    </div>
    <!-- <script>
        function goToSection(Contact-us - section) {
            const section = document.getElementById(Contact - us - section);
            section.scrollIntoView({ behavior: 'smooth' });
        }
    </script> -->
</section>