<section class="section">
  <div class="container">
    <div class="advertisement">
      <h2 class="visually-hidden">Advertisement Section</h2>
      <p class="p-advertisement">
        Choose <span class="span-second-lvl-title">your story</span>, making every
        moment unique. Time is your style, and we reveal it.
      </p>
      <button aria-label="Contact us" type="button" onclick="location.href='#section-contact-us'"
        class="to-contact-scroll-btn">
        Contact us
      </button>
    </div>
  </div>
</section>