<section id="section-catalog" class="section">
  <div class="container">
    <h2 class="second-lvl-title">Catalog</h2>
    <ul class="catalog-list">
      <li class="catalog-item">
        <picture>
          <source media="(min-width: 1280px)" srcset="./img/catalog/watch-one-desktop@1x.webp 1x"
            srcset="./img/catalog/watch-one-desktop@2x.webp 2x" />
          <source media="(min-width: 768px)" srcset="./img/catalog/watch-one-tablet@1x.webp 1x"
            srcset="./img/catalog/watch-one-tablet@2x.webp 2x" />
          <source media="(min-width: 320px)" srcset="./img/catalog/watch-one-mobile@1x.webp 1x"
            srcset="./img/catalog/watch-one-mobile@2x.webp 2x" />
          <img class="catalog-img" src="./img/catalog/watch-one-mobile@1x.webp"
            alt="wristwatch Garmin Fenix 7X Pro Sapphire Solar" />
        </picture>
        <h3 class="third-lvl-title">Garmin Fenix 7X Pro Sapphire Solar</h3>
        <p class="p-text">€500</p>
      </li>
      <li class="catalog-item">
        <picture>
          <source media="(min-width: 1280px)" srcset="./img/catalog/watch-two-desktop@1x.webp 1x"
            srcset="./img/catalog/watch-two-desktop@2x.webp 2x" />
          <source media="(min-width: 768px)" srcset="./img/catalog/watch-two-tablet@1x.webp 1x"
            srcset="./img/catalog/watch-two-tablet@2x.webp 2x" />
          <source media="(min-width: 320px)" srcset="./img/catalog/watch-two-mobile@1x.webp 1x"
            srcset="./img/catalog/watch-two-mobile@2x.webp 2x" />
          <img class="catalog-img" src="./img/catalog/watch-two-mobile@1x.webp" alt="wristwatch Garmin Marq Athlete" />
        </picture>
        <h3 class="third-lvl-title">Garmin Marq Athlete</h3>
        <p class="p-text">€450</p>
      </li>
      <li class="catalog-item">
        <picture>
          <source media="(min-width: 1280px)" srcset="./img/catalog/watch-three-desktop@1x.webp 1x"
            srcset="./img/catalog/watch-three-desktop@2x.webp 2x" />
          <source media="(min-width: 768px)" srcset="./img/catalog/watch-three-tablet@1x.webp 1x"
            srcset="./img/catalog/watch-three-tablet@2x.webp 2x" />
          <source media="(min-width: 320px)" srcset="./img/catalog/watch-three-mobile@1x.webp 1x"
            srcset="./img/catalog/watch-three-mobile@2x.webp 2x" />
          <img class="catalog-img" src="./img/catalog/watch-three-mobile@1x.webp" alt="wristwatch Garmin Descent MK1" />
        </picture>
        <h3 class="third-lvl-title">Garmin Descent MK1</h3>
        <p class="p-text">€680</p>
      </li>
      <li class="catalog-item">
        <picture>
          <source media="(min-width: 1280px)" srcset="./img/catalog/watch-four-desktop@1x.webp 1x"
            srcset="./img/catalog/watch-four-desktop@2x.webp 2x" />
          <source media="(min-width: 768px)" srcset="./img/catalog/watch-four-tablet@1x.webp 1x"
            srcset="./img/catalog/watch-four-tablet@2x.webp 2x" />
          <source media="(min-width: 320px)" srcset="./img/catalog/watch-four-mobile@1x.webp 1x"
            srcset="./img/catalog/watch-four-mobile@2x.webp 2x" />
          <img class="catalog-img" src="./img/catalog/watch-four-mobile@1x.webp" alt="wristwatch Garmin D2 Delta PX" />
        </picture>
        <h3 class="third-lvl-title">Garmin D2 Delta PX</h3>
        <p class="p-text">€380</p>
      </li>
      <li class="catalog-item">
        <picture>
          <source media="(min-width: 1280px)" srcset="./img/catalog/watch-four-desktop@1x.webp 1x"
            srcset="./img/catalog/watch-five-desktop@2x.webp 2x" />
          <source media="(min-width: 768px)" srcset="./img/catalog/watch-five-tablet@1x.webp 1x"
            srcset="./img/catalog/watch-five-tablet@2x.webp 2x" />
          <img class="catalog-img" src="./img/catalog/watch-five-tablet@1x.webp"
            alt="wristwatch Garmin Fenix 6 Pro Solar" />
        </picture>
        <h3 class="third-lvl-title">Garmin Fenix 6 Pro Solar</h3>
        <p class="p-text">€400</p>
      </li>
      <li class="catalog-item">
        <picture>
          <source media="(min-width: 1280px)" srcset="./img/catalog/watch-six-desktop@1x.webp 1x"
            srcset="./img/catalog/watch-six-desktop@2x.webp 2x" />
          <source media="(min-width: 768px)" srcset="./img/catalog/watch-six-tablet@1x.webp 1x"
            srcset="./img/catalog/watch-six-tablet@2x.webp 2x" />
          <img class="catalog-img" src="./img/catalog/watch-six-tablet@1x.webp"
            alt="wristwatch Tube Watch S42 Date Steel With Black Case" />
        </picture>
        <h3 class="third-lvl-title">
          Tube Watch S42 Date Steel With Black Case
        </h3>
        <p class="p-text">€395</p>
      </li>
    </ul>
    <button class="catalog-btn" type="button">Show more</button>
  </div>
</section>