<section id="section-contact-us">

    <div class="container">
        <h2 class="contact-us-title">Contact Us</h2>
        <div class="contact-us-div">
            <div class="form-div">

                <p class="contact-us-text">
                    Please use the form below to contact us. Enter your name, email,
                    phone, and message and we'll get back to you shortly.
                </p>
                <form class="contact-form">
                    <div class="user-wrapper">
                        <label for="user-name"></label>

                        <input class="input-common" name="user-name" id="user-name" type="text" placeholder="Name"
                            minlength="2" maxlength="13" pattern="[a-zA-Z]+\s[a-zA-Z]*"
                            title="Будь ласка введи Ім'я та Призвище латинськими літерами" required />
                    </div>
                    <div class=" user-wrapper">
                        <label for="user-email"></label>

                        <input class="input-common" name="user-email" id="user-email" type="email" placeholder="Email"
                            pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})" required />
                    </div>

                    <div class="user-wrapper">
                        <label for="user-phone"></label>

                        <input class="input-common" name="user-phone" id="user-phone" type="tel" value="+380"
                            placeholder="+380" required />
                    </div>

                    <div class="user-comment-wrapper">
                        <label for="user-comment"></label>
                        <textarea class="form-textarea" name="user-comment" id="user-comment" cols="30" rows="10"
                            minlength="10" placeholder="Comment"
                            title="Напиши короткий коментар(мінімум 10 символів) "></textarea>
                    </div>
                </form>

                <button class="contact-button" type="submit" aria-label="contact-us-button">Send</button>

            </div>

            <div class="img-box">
                <picture>
                    <source media="(min-width:1280px)" srcset="
            ./img/contact/watch-desktop@1x.webp 1x,
            ./img/contact/watch-desktop@2x.webp 2x
          " />
                    <source media="(min-width:768px)" srcset="
            ./img/contact/watch-tablet@1x.webp 1x,
            ./img/contact/watch-tablet@2x.webp 2x
          " />
                    <source media="(max-width:767px)" srcset="
            ./img/contact/watch-mobile@1x.webp 1x,
            ./img/contact/watch-mobile@2x.webp 2x
          " />
                    <img src="./img/contact/watch-desktop@1x.webp" alt="Watch with logo Sun" width="704"
                        loading="lazy" />
                </picture>
            </div>
        </div>
    </div>
</section>