<footer id="footerid">
  <div class="container">
    <div class="footer-wrap">
      <div class="up-footer">
        <div class="left-footer">
          <a class="logo-footer" href="./index.html">watchcharm</a>
          <div class="left-footer_social-link"></div>
          <ul class="footer-type-list">
            <li class="footer-type-list_style">
              <a
                target="_blank"
                rel="noopener noreferrer"
                aria-label="open-facebook"
                class="footer-svg-wrap"
                href="https://www.facebook.com/goITclub/"
              >
                <svg class="footer-svg" width="18" height="18">
                  <use href="./img/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="footer-type-list_style">
              <a
                rel="noopener noreferrer"
                target="_blank"
                aria-label="open-instagram"
                class="footer-svg-wrap"
                href="https://www.instagram.com/goitclub/"
              >
                <svg class="footer-svg" width="18" height="18">
                  <use href="./img/icons.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>
            <li class="footer-type-list_style">
              <a
                rel="noopener noreferrer"
                target="_blank"
                aria-label="open-youtube"
                class="footer-svg-wrap"
                href="https://www.youtube.com/c/GoIT"
              >
                <svg class="footer-svg" width="18" height="18">
                  <use href="./img/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <div class="right-footer">
          <address>
            <a class="nomber-link" href="tel:+380(68)443-94-26"
              >+380 (68) 443-94-26</a
            >
          </address>
        </div>
      </div>
      <div class="wrap-title-footer">
        <h2 class="title-footer">
          Have the time of your life with our watches: where high-class
          craftsmanship meets impeccable design
        </h2>
      </div>
      <div class="last-footer">
        <div class="last-footer_left">
          <nav>
            <ul class="footer-type">
              <li class="footer-type-syles">
                <a class="nav-link" href="#section-hero">Home</a>
              </li>
              <li class="footer-type-syles">
                <a class="nav-link" href="#section-about-us">About Us</a>
              </li>
              <li class="footer-type-syles">
                <a class="nav-link" href="#section-catalog">Catalog</a>
              </li>
              <li class="footer-type-syles">
                <a class="nav-link" href="#section-sale">Sale</a>
              </li>
              <li class="footer-type-syles">
                <a class="nav-link" href="#reviewsid">Reviews</a>
              </li>
              <li class="footer-type-syles">
                <a class="nav-link" href="#section-contact-us">Contact Us</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="last-footer_right">
          <p class="rigt-text">1678 S. Pioneer Road Salt Lake City UT 84104</p>
        </div>
      </div>
      <div class="bot-footer">
        <div class="bot-footer-one">
          <p class="bot-footer-text">
            &copy;2023 The Watch Spot. All rights reserved.
          </p>
        </div>
        <div class="bot-footer-tow">
          <p class="bot-footer-text">Terms of Service</p>
          <p class="bot-footer-text">Privacy Policy</p>
        </div>
      </div>
    </div>
  </div>
</footer>
