<footer>
  <div class="container">
    <div class="left-footer">
      <a class="logo-footer" href="">watchcharm</a>
      <div class="left-footer_social-link"></div>
      <ul class="footer-type-list">
        <li class="footer-type-list_style">
          <a class="footer-svg-wrap" href="">
            <svg class="footer-svg" width="18" height="18">
              <use href="./img/icons.svg#icon-footer-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="footer-type-list_style">
          <a class="footer-svg-wrap" href="">
            <svg class="footer-svg" width="18" height="18">
              <use href="./img/icons.svg#icon-footer-insta"></use>
            </svg>
          </a>
        </li>
        <li class="footer-type-list_style">
          <a class="footer-svg-wrap" href="">
            <svg class="footer-svg" width="18" height="18">
              <use href="./img/icons.svg#icon-footer-youtoob"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
