<header class="header">
  <div class="container container-flex">
    <a href="./index.html" class="logo">watchcharm</a>
    <nav class="navigation">
      <ul class="nav-list">
        <li class="nav-list__item">
          <a href="" class="header-link link-studio">Home</a>
        </li>
        <li class="nav-list__item">
          <a href="" class="header-link">About Us</a>
        </li>
        <li class="nav-list__item">
          <a href="" class="header-link">Catalog</a>
        </li>
        <li class="nav-list__item">
          <a href="" class="header-link">Sale</a>
        </li>
        <li class="nav-list__item">
          <a href="" class="header-link">Reviews</a>
        </li>
        <li class="nav-list__item">
          <a href="" class="header-link">Contact Us</a>
        </li>
      </ul>
    </nav>
    <div class="right-content">
      <ul class="ul-team">
        <li class="li-team">
          <a
            class="a-team"
            href="https://facebook.com"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="svg-team" width="20" height="20">
              <use href="../img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="li-team">
          <a
            class="a-team"
            href="https://instagram.com"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="svg-team" width="20" height="20">
              <use href="../img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="li-team">
          <a
            class="a-team"
            href="https://youtube.com"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="svg-team" width="20" height="20">
              <use href="../img/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <button class="burger-button" type="button">
      <svg class="burger-svg" width="34" height="34">
        <use href="../img/icons.svg#icon-menu"></use>
      </svg>
    </button>
  </div>
</header>

<!-- <div class="mobile-menu">
  <button class="menu-btn">
    <svg class="mobile-menu-icon" width="20" height="20">
      <use href="../img/icons.svg#icon-menu"></use>
    </svg>
  </button>
  <ul class="mobile-menu-list">
    <li class="mobile-menu-item">
      <a class="mobile-menu-link active" href="index.html">Home</a>
    </li>
    <li class="mobile-menu-item">
      <a class="mobile-menu-link" href="index.html">About Us</a>
    </li>
    <li class="mobile-menu-item">
      <a class="mobile-menu-link" href="index.html">Catalog</a>
    </li>
    <li class="mobile-menu-item">
      <a class="mobile-menu-link" href="index.html">Sale</a>
    </li>
    <li class="mobile-menu-item">
      <a class="mobile-menu-link" href="index.html">Reviews</a>
    </li>
    <li class="mobile-menu-item">
      <a class="mobile-menu-link" href="index.html">Contact Us</a>
    </li>
  </ul>

  <ul class="mobile-menu-socials socials"></ul>
  <ul class="ul-team">
    <li class="li-team">
      <a
        class="a-team"
        href="https://facebook.com"
        target="_blank"
        rel="noopener noreferrer"
      >
        <svg class="svg-team" width="20" height="20">
          <use href="../img/icons.svg#icon-facebook"></use>
        </svg>
      </a>
    </li>
    <li class="li-team">
      <a
        class="a-team"
        href="https://instagram.com"
        target="_blank"
        rel="noopener noreferrer"
      >
        <svg class="svg-team" width="20" height="20">
          <use href="../img/icons.svg#icon-instagram"></use>
        </svg>
      </a>
    </li>
    <li class="li-team">
      <a
        class="a-team"
        href="https://youtube.com"
        target="_blank"
        rel="noopener noreferrer"
      >
        <svg class="svg-team" width="16" height="16">
          <use href="./images/icons.svg#icon-linkedin"></use>
        </svg>
      </a>
    </li>
  </ul>
</div> -->
