<header>
  <div class="container container-flex">
    <a href="./index.html" class="logo">watchcharm</a>
    <nav class="navigation">
      <ul class="nav-list">
        <li class="nav-list__item">
          <a href="#section-home" class="header-link active-link">Home</a>
        </li>
        <li class="nav-list__item">
          <a href="#section-about-us" class="header-link">About Us</a>
        </li>
        <li class="nav-list__item">
          <a href="#section-catalog" class="header-link">Catalog</a>
        </li>
        <li class="nav-list__item">
          <a href="#section-sale" class="header-link">Sale</a>
        </li>
        <li class="nav-list__item">
          <a href="#section-reviews" class="header-link">Reviews</a>
        </li>
        <li class="nav-list__item">
          <a href="#section-contact-us" class="header-link">Contact Us</a>
        </li>
      </ul>
    </nav>
    <div class="right-content">
      <ul class="ul-team">
        <li class="li-team">
          <a
            class="a-team"
            href="https://www.facebook.com/goITclub/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="svg-team" width="20" height="20">
              <use href="./img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="li-team">
          <a
            class="a-team"
            href="https://www.instagram.com/goitclub/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="svg-team" width="20" height="20">
              <use href="./img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="li-team">
          <a
            class="a-team"
            href="https://www.youtube.com/c/GoIT"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="svg-team" width="20" height="20">
              <use href="./img/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <button class="burger-button" type="button">
      <svg class="burger-svg" width="34" height="34">
        <use href="./img/icons.svg#icon-menu"></use>
      </svg>
    </button>
  </div>
</header>

<div class="mobile-menu is-open">
  <div class="mobile-content">
    <button class="menu-btn">
      <svg class="mobile-menu-icon" width="40" height="40">
        <use href="./img/icons.svg#icon-x"></use>
      </svg>
    </button>
    <ul class="mobile-menu-list">
      <li class="mobile-menu-item">
        <a class="mobile-menu-link active-link" href="#section-home">Home</a>
      </li>
      <li class="mobile-menu-item">
        <a class="mobile-menu-link" href="#section-about-us">About Us</a>
      </li>
      <li class="mobile-menu-item">
        <a class="mobile-menu-link" href="#section-catalog">Catalog</a>
      </li>
      <li class="mobile-menu-item">
        <a class="mobile-menu-link" href="#section-sale">Sale</a>
      </li>
      <li class="mobile-menu-item">
        <a class="mobile-menu-link" href="#section-reviews">Reviews</a>
      </li>
      <li class="mobile-menu-item">
        <a class="mobile-menu-link" href="#section-contact-us">Contact Us</a>
      </li>
    </ul>

    <ul class="ul-team-burger">
      <li class="li-team-burger">
        <a
          class="a-team"
          href="https://www.facebook.com/goITclub/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="svg-team" width="36" height="36">
            <use href="../img/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="li-team-burger">
        <a
          class="a-team"
          href="https://www.instagram.com/goitclub/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="svg-team" width="36" height="36">
            <use href="./img/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="li-team-burger">
        <a
          class="a-team"
          href="https://www.youtube.com/c/GoIT"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="svg-team" width="36" height="36">
            <use href="./img/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
