<header class="header">
  <div class="container container-flex">
    <nav class="navigation">
      <a href="./index.html" class="logo">
        <svg class="header-logo-icon" width="90" height="19">
          <use href=""></use>
        </svg>
      </a>
      <ul class="nav-list">
        <li class="nav-list__item">
          <a href="" class="header-link link-studio">Home</a>
        </li>
        <li class="nav-list__item">
          <a href="" class="header-link">About Us</a>
        </li>
        <li class="nav-list__item">
          <a href="" class="header-link">Catalog</a>
        </li>
        <li class="nav-list__item">
          <a href="" class="header-link">Sale</a>
        </li>
        <li class="nav-list__item">
          <a href="" class="header-link">Reviews</a>
        </li>
        <li class="nav-list__item">
          <a href="" class="header-link">Contact Us</a>
        </li>
      </ul>
    </nav>
    <div class="right-content">
      <ul class="ul-team">
        <li class="li-team">
          <a
            class="a-team"
            href="https://facebook.com"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="svg-team" width="36" height="36">
              <use href=""></use>
            </svg>
          </a>
        </li>
        <li class="li-team">
          <a
            class="a-team"
            href="https://instagram.com"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="svg-team" width="36" height="36">
              <use href=""></use>
            </svg>
          </a>
        </li>
        <li class="li-team">
          <a
            class="a-team"
            href="https://youtube.com"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="svg-team" width="36" height="36">
              <use href=""></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <button class="burger-button" type="button">
      <svg class="burger-svg" width="34" height="34">
        <use href=""></use>
      </svg>
    </button>
  </div>
</header>
