<!-- #region Hero -->
<section class="hero" id="section-hero">
  <div class="container">
    <div class="hero-content">
      <div class="hero-reviews-left">
        <h1 class="hero-title">
          Welcome to our <span class="span-title">collection</span> of premium
          watches
        </h1>
        <p class="main-text">
          Our watches are not just timepieces, but also an expression of your
          personality and lifestyle. From classic designs to modern ones, we
          have a watch to suit every taste and occasion.
        </p>
      </div>
      <div class="hero-reviews-right">
        <ul class="hero-reviews-list">
          <li class="hero-reviews-item">
            <picture>
              <!-- Desktop screen -->
              <source
                media="(min-width: 1158px)"
                srcset="
                  ./img/hero/person-one-desktop@1x.webp 1x,
                  ./img/hero/person-one-desktop@2x.webp 2x
                "
              />
              <!-- Tablet screen -->
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/hero/person-one-tablet@1x.webp 1x,
                  ./img/hero/person-one-tablet@2x.webp 2x
                "
              />
              <!-- Mobile screen -->
              <source
                media="(min-width: 320px)"
                srcset="
                  ./img/hero/person-one-mobile@1x.webp 1x,
                  ./img/hero/person-one-mobile@2x.webp 2x
                "
              />
              <img
                class="team-ill"
                src="./img/hero/person-one-mobile@1x.webp"
                alt="Victoria Romashenko"
                width="44"
                height="44"
              />
            </picture>
          </li>
          <li class="hero-reviews-item">
            <picture>
              <!-- Desktop screen -->
              <source
                media="(min-width: 1158px)"
                srcset="
                  ./img/hero/person-two-desktop@1x.webp 1x,
                  ./img/hero/person-two-desktop@2x.webp 2x
                "
              />
              <!-- Tablet screen -->
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/hero/person-two-tablet@1x.webp 1x,
                  ./img/hero/person-two-tablet@2x.webp 2x
                "
              />
              <!-- Mobile screen -->
              <source
                media="(min-width: 320px)"
                srcset="
                  ./img/hero/person-two-mobile@1x.webp 1x,
                  ./img/hero/person-two-mobile@2x.webp 2x
                "
              />
              <img
                class="team-ill"
                src="./img/hero/person-two-mobile@1x.webp"
                alt="John Wax"
                width="44"
                height="44"
              />
            </picture>
          </li>
          <li class="hero-reviews-item">
            <picture>
              <!-- Desktop screen -->
              <source
                media="(min-width: 1158px)"
                srcset="
                  ./img/hero/person-three-desktop@1x.webp 1x,
                  ./img/hero/person-three-desktop@2x.webp 2x
                "
              />
              <!-- Tablet screen -->
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/hero/person-three-tablet@1x.webp 1x,
                  ./img/hero/person-three-tablet@2x.webp 2x
                "
              />
              <!-- Mobile screen -->
              <source
                media="(min-width: 320px)"
                srcset="
                  ./img/hero/person-three-mobile@1x.webp 1x,
                  ./img/hero/person-three-mobile@2x.webp 2x
                "
              />
              <img
                class="team-ill"
                src="./img/hero/person-three-mobile@1x.webp"
                alt="Anastasia Trachuk"
                width="44"
                height="44"
              />
            </picture>
          </li>
        </ul>
        <a class="hero-link" href="#footerid"> scroll down </a>
      </div>
    </div>
    <picture>
      <!-- Desktop screen -->
      <source
        media="(min-width: 1280px)"
        srcset="
          ./img/hero/watch-desktop@1x.webp 1x,
          ./img/hero/watch-desktop@2x.webp 2x
        "
      />
      <!-- Tablet screen -->
      <source
        media="(min-width: 768px)"
        srcset="
          ./img/hero/watch-tablet@1x.webp 1x,
          ./img/hero/watch-tablet@2x.webp 2x
        "
      />
      <!-- Mobile screen -->
      <source
        media="(min-width: 320px)"
        srcset="
          ./img/hero/watch-mobile@1x.webp 1x,
          ./img/hero/watch-mobile@2x.webp 2x
        "
      />
      <img
        class="bestsellers-ill"
        src="./img/hero/watch-mobile@1x.webp"
        alt="watch"
        width="335"
        height="336"
      />
    </picture>
  </div>
</section>
<!-- #endregion Hero -->
