<!-- #region Hero -->
<section class="hero">
  <div class="container">
    <h1 class="hero-title">
        Welcome to our <span class="span-title">collection</span> of premium watches</h1>
        <p class="main-text">Our watches are not just timepieces, but also an expression of your personality and lifestyle. From classic designs to modern ones, we have a watch to suit every taste and occasion.</p>
    </h1>
    <div>
        <a class="hero-link" href="#footer">
          scroll down
        </a>
    </div>     
  </div>
</section>
<!-- #endregion Hero -->
