<section class="reviews">
  <div class="container">
    <h2 class="reviews-title">Revievs</h2>
    <ul class="reviews-list">
      <li class="reviews-item">
        <source
          media="(min-width: 1280px)"
          srcset="
            ./img/hero/person-two-desktop@1x.webp 1x,
            ./img/hero/person-two-desktop@2x.webp 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./img/hero/person-two-desktop@1x.webp 1x,
            ./img/hero/person-two-desktop@2x.webp 2x
          "
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./img/hero/person-two-mobile@1x.webp 1x,
            ./img/hero/person-two-mobile@2x.webp 2x
          "
        />
        <img
          class="reviews-hero"
          src="./img/hero/person-two-mobile@1x.webp"
          alt="hero men"
          width="56"
          height="56"
        />
        <h3 class="reviews-name">John Wax</h3>
        <p class="reviews-text">
          Buying a watch from was the best choice for me. The design is
          perfectly combined with high quality materials. The strap fits nicely
          on the hand, and the mechanism works flawlessly.
        </p>
      </li>
      <li class="reviews-item offimage-one">
        <source
          media="(min-width: 1280px)"
          srcset="
            ./img/hero/person-one-desktop@1x.webp 1x,
            ./img/hero/person-one-desktop@2x.webp 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./img/hero/person-one-tablet@1x.webp 1x,
            ./img/hero/person-one-tablet@2x.webp 2x
          "
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./img/hero/person-one-mobile@1x.webp 1x,
            ./img/hero/person-one-mobile@2x.webp 2x
          "
        />
        <img
          class="reviews-hero"
          src="./img/hero/person-one-mobile@1x.webp"
          alt="hero blond"
          width="56"
          height="56"
        />
        <h3 class="reviews-name">Victoria Romashenko</h3>
        <p class="reviews-text">
          Can't take my eyes off my watch from. Every time I put it on, it is
          admired by those around me. The build quality and attention to detail
          make it a real gem among my accessories.
        </p>
      </li>
      <li class="reviews-item offimage-two">
        <source
          media="(min-width: 1280px)"
          srcset="
            ./img/hero/person-three-desktop@1x.webp 1x,
            ./img/hero/person-three-desktop@2x.webp 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./img/hero/person-three-tablet@1x.webp 1x,
            ./img/hero/person-three-tablet@2x.webp 2x
          "
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./img/hero/person-three-mobile@1x.webp 1x,
            ./img/hero/person-three-mobile@2x.webp 2x
          "
        />
        <img
          class="reviews-hero"
          src="./img/hero/person-three-mobile@1x.webp"
          alt="hero dark"
          width="56"
          height="56"
        />
        <h3 class="reviews-name">Anastasia Trachuk</h3>
        <p class="reviews-text">
          My watch from is a real masterpiece. Every detail impresses with the
          high quality of execution. Special features like [specify features]
          make it an indispensable companion in my daily life.
        </p>
      </li>
    </ul>
  </div>
</section>
