<div class="container">
    <h2 class="sale-title">Sale</h2>
    <ul class="sale-list">
        <li class="sale-item">
            <div class="sale-thumb">
                <picture>
                    <source media="(max-width:767px)"
                        srcset="../img/sale/side-watch-one-mobile@1x.webp 1x, ../img/sale/side-watch-one-mobile@2x.webp 2x">
                    <source media="(min-width:768px)"
                        srcset="../img/sale/side-watch-one-desktop-tablet@1x.webp 1x, ../img/sale/side-watch-one-desktop-tablet@2x.webp 2x">
                    <img src="../img/sale/side-watch-one-mobile@1x.webp" class="sale-image" width="52" height="54"
                        alt="watch showcase">
                </picture>
            </div>
        </li>
        <li class="sale-item">
            <div class="sale-thumb">
                <picture>
                    <source media="(max-width:767px)"
                        srcset="../img/sale/side-watch-two-mobile@1x.webp 1x, ../img/sale/side-watch-two-mobile@2x.webp 2x">
                    <source media="(min-width:768px)"
                        srcset="../img/sale/side-watch-two-desktop-tablet@1x.webp 1x, ../img/sale/side-watch-two-desktop-tablet@2x.webp 2x">
                    <img src="../img/sale/side-watch-two-mobile@2x.webp" class="sale-image" width="52" height="54"
                        alt="watch showcase">
                </picture>
            </div>
        </li>
        <li class="sale-item">
            <div class="sale-thumb">
                <picture>
                    <source media="(max-width:767px)"
                        srcset="../img/sale/side-watch-three-mobile@1x.webp 1x, ../img/sale/side-watch-three-mobile@2x.webp 2x">
                    <source media="(min-width:768px)"
                        srcset="../img/sale/side-watch-three-desktop-tablet@1x.webp 1x, ../img/sale/side-watch-three-desktop-tablet@2x.webp 2x">
                    <img src="../img/sale/side-watch-three-mobile@1x.webp" class="sale-image" width="52" height="54"
                        alt="watch showcase">
                </picture>
            </div>
        </li>
        <li class="sale-item">
            <div class="sale-thumb">
                <picture>
                    <source media="(max-width:767px)"
                        srcset="../img/sale/side-watch-four-mobile@1x.webp 1x, ../img/sale/side-watch-four-mobile@2x.webp 2x">
                    <source media="(min-width:768px)"
                        srcset="../img/sale/side-watch-four-desktop-tablet@1x.webp 1x, ../img/sale/side-watch-four-desktop-tablet@2x.webp 2x">
                    <img src="../img/sale/side-watch-four-mobile@1x.webp" class="sale-image" width="52" height="54"
                        alt="watch showcase">
                </picture>
            </div>
        </li>
        <li class="sale-item">
            <div class="sale-thumb">
                <picture>
                    <source media="(max-width:767px)"
                        srcset="../img/sale/center-watch-mobile@1x.webp 1x, ../img/sale/center-watch-mobile@2x.webp 2x">
                    <source media="(min-width:768px)"
                        srcset="../img/sale/center-watch-desktop-tablet@1x.webp 1x, ../img/sale/center-watch-desktop-tablet@2x.webp 2x">
                    <img src="../img/sale/center-watch-mobile@1x.webp" class="sale-image" width="52" height="54"
                        alt="watch showcase">
                </picture>
            </div>
        </li>
    </ul>
    <div class="sale-card-overlay">
        <h3 class="sale-card-title">MARQ® Commander (Gen 2) - Carbon Edition</h3>
        <p class="sale-card-sub-title">Product tag: 706587</p>
        <span class="sale-card-price-tag">€1500</span>
        <span class="sale-card-discount-price-tag">€3000</span>
        <p class="sale-card-description">The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch for
            adventurers that takes materials and features
            to the next level. The body of the watch is made of very durable Fused Carbon Fiber material and has a
            precise
            AMOLED
            touch screen. The sensitive touch screen is complemented by buttons that can be used in any conditions.</p>
        <ul class="sale-card-feature-tag-list">
            <li class="sale-card-feature-tag">Fused carbon fiber </li>
            <li class="sale-card-feature-tag">Grade-5 Titanuim</li>
            <li class="sale-card-feature-tag">Athlete</li>
            <li class="sale-card-feature-tag">Golfer</li>
            <li class="sale-card-feature-tag">Commander</li>
            <li class="sale-card-feature-tag">Adventurer</li>
        </ul>
    </div>
</div>