@media only screen and (min-width: 768px) {
  .wrap {
    display: block;
    width: 704px;
  }
}

@media only screen and (min-width: 1280px) {
  .wrap {
    display: flex;
    gap: 40px;
    align-items: center;
    width: 1150px;
  }
}

.box-about {
  padding: 40px 20px;
  border-radius: 30px;
  background-color: var(--color-cards);
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .box-about {
    padding: 80px 60px;
    border-radius: 50px;
    margin-bottom: 40px;
  }
}

@media only screen and (min-width: 1280px) {
  .box-about {
    width: 580px;
    margin-bottom: 0;
  }
}

.mein-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: var(--color-main);
  margin-bottom: 28px;
}

@media only screen and (min-width: 768px) {
  .mein-title {
    font-size: 48px;
    line-height: 92%;
    font-weight: 600;
    font-size: 48px;
    line-height: 92%;
    letter-spacing: -0.02em;
    margin-bottom: 40px;
  }
}

.box-text-about {
  margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
  .box-text-about {
    margin-bottom: 60px;
  }
}

@media only screen and (min-width: 1280px) {
  .box-text-about {
    margin-bottom: 40px;
  }
}

.top {
  margin-bottom: 20px;
}

.text-about {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
}

@media only screen and (min-width: 768px) {
  .text-about {
    font-size: 16px;
    line-height: 125%;
  }
}

.button-about {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  text-align: center;
  color: var(--color-background);
  padding: 15px 38px;
  border-radius: 16px;
  border: none;
  background-color: var(--color-accent);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-about:hover {
  background-color: #1f3cd4;
}

.box-about-img {
  min-width: 280px;
  max-width: 355px;
  max-height: 446px;
}

@media only screen and (min-width: 768px) {
  .box-about-img {
    max-width: 704px;
    max-height: 512px;
  }
}

@media only screen and (min-width: 1280px) {
  .box-about-img {
    max-width: 530px;
    max-height: 532px;
  }
}

@media only screen and (min-width: 1280px) {
  .box-about-img {
    max-width: 530px;
  }
}

.img-about {
  width: 100%;
  height: auto;
}
