@media only screen and (min-width: 768px) {
  .wrap {
    width: 704px;
  }
}

.box-about {
  padding: 40px 20px;
  border-radius: 30px;
  background-color: var(--color-cards);
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .box-about {
    padding: 80px 60px;
    border-radius: 50px;
    margin-bottom: 40px;
  }
}

.mein-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: var(--color-main);
  margin-bottom: 28px;
}

@media only screen and (min-width: 768px) {
  .mein-title {
    font-size: 48px;
    line-height: 92%;
    margin-bottom: 40px;
  }
}

.box-text-about {
  margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
  .box-text-about {
    margin-bottom: 60px;
  }
}

.top {
  margin-bottom: 20px;
}

.text-about {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
}

@media only screen and (min-width: 768px) {
  .text-about {
    font-size: 16px;
    line-height: 125%;
  }
}

.button-about {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  text-align: center;
  color: var(--color-background);
  padding: 15px 38px;
  border-radius: 16px;
  border: none;
  background-color: var(--color-accent);
}

.box-about-img {
  min-width: 320px;
  max-width: 355px;
}

@media only screen and (min-width: 768px) {
  .box-about-img {
    max-width: 704px;
  }
}

.img-about {
  border-radius: 30px;
}

@media only screen and (min-width: 768px) {
  .img-about {
    border-radius: 50px;
  }
}
