/* Section catalog */

.second-lvl-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .second-lvl-title {
    font-size: 48px;
    line-height: 0.92;
    margin-bottom: 40px;
  }
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .catalog-list {
    row-gap: 32px;
    column-gap: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .catalog-list {
    column-gap: 23px;
  }
}

.catalog-item {
  border: 1px solid #0c0c0c0d;
  border-radius: 30px;
  width: 100%;
  background: var(--color-cards);
  padding: 40px 28px 22px;
}

@media screen and (max-width: 767px) {
  .catalog-item:nth-child(5) {
    display: none;
  }
  .catalog-item:last-child {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .catalog-item {
    width: calc((100% - 16px) / 2);
  }
}

@media screen and (min-width: 1280px) {
  .catalog-item {
    width: calc((100% - 23px * 2) / 3);
  }
}

.catalog-img {
  margin: 0 auto;
}

.third-lvl-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  margin: 28px 0 8px;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media screen and (min-width: 768px) {
  .third-lvl-title {
    font-size: 20px;
    line-height: 1;
    margin: 10px 0 8px;
  }
}

.p-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #0c0c0c80;
}

.catalog-btn {
  border-radius: 16px;
  border: none;
  width: 160px;
  height: 48px;
  background: var(--color-accent);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  text-align: center;
  color: var(--color-background);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px auto 0;
}

@media screen and (min-width: 768px) {
  .catalog-btn {
    display: none;
  }
}

.catalog-btn:hover,
.catalog-btn:focus {
  background: var(--color-active);
}
