
.burger-button {
  display: none;
}
header {
  border-bottom: 1px solid rgba(12, 12, 12, 0.1);
  height: 88px;
}
.mobile-menu {
  display: none;
}
.container-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: inherit;
}
.navigation {
  display: flex;
  align-items: center;
}
.logo {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: -0.02em;
  color: #0c0c0c;
}
.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  text-align: center;
  color: #0c0c0c;
  padding-top: 26px;
  padding-bottom: 26px;
  display: block;
  position: relative;
}
.nav-list {
  display: flex;
  gap: 40px;
  list-style-type: none;
}
.ul-team {
  display: flex;
  list-style-type: none;
  gap: 10px;
  justify-content: center;
}
.li-team {
  width: 36px;
  height: 36px;
  border: 1px solid rgba(12, 12, 12, 0.1);
  border-radius: 10px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.active-link {
  position: relative;
}
.active-link::before {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: #3350e9;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.a-team {
  border-radius: 10px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
}
.right-content {
  margin-right: unset;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  display: flex;
}
.svg-team {
  stroke: #0c0c0c;
}

.a-team:hover .svg-team {
  stroke: var(--color-accent);
  fill: var(--color-accent);
}

.a-team:focus .svg-team {
  fill: var(--color-accent);
  fill: var(--color-accent);
}

/* Mobile Header */
@media (max-width: 767px) {
  header {
    height: 74px;
  }
  .container-flex {
    justify-content: space-between;
  }
  .nav-list {
    display: none;
  }
  .burger-button {
    width: 34px;
    height: 34px;
    padding: 0;
    background-color: transparent;
    border: none;
    display: block;
    stroke-width: 2.5px;
    stroke: #0c0c0c;
  }
  .ul-team {
    display: none;
  }
}
/* Tablet View */
@media (max-width: 1280px) {
  header {
    height: 92px;
  }
  .container-flex {
    justify-content: space-between;
  }
  .nav-list {
    display: none;
  }
  .burger-button {
    width: 40px;
    height: 40px;
    padding: 0;
    background-color: transparent;
    border: none;
    display: block;
    stroke-width: 3px;
    stroke: #0c0c0c;
  }
  .ul-team {
    display: none;
  }
}
/* Burger Mobile-Menu */
@media (min-width: 320px) and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(100%);
    transition: transform 300ms ease-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(
        to bottom,
        rgba(12, 12, 12, 0.92),
        rgba(12, 12, 12, 0.92)
      ),
      url(../img/menu/mobile-menu@1x.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .mobile-menu::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .mobile-content {
    z-index: 1;
  }
  .mobile-menu.is-open {
    z-index: 3;
    transform: translateX(0);
    transition-timing-function: ease-in;
  }
  .menu-btn {
    position: absolute;
    top: 26px;
    right: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
  }
  .mobile-menu-item:not(:last-child) {
    margin-bottom: 32px;
  }
  .active-link::before {
    bottom: -10px;
  }
  .mobile-menu-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    text-align: center;
    color: #fbfbfb;
  }
  .mobile-menu-icon {
    stroke-width: 3px;
    stroke: #fbfbfb;
    width: 20px;
    height: 20px;
  }
  .mobile-menu-list {
    margin-bottom: 24px;
  }
  .mobile-menu-socials {
    gap: 10px;
  }
  .svg-team {
    fill: #fbfbfb;
    width: 36px;
    height: 36px;
  }
  .ul-team-burger {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 10px;
    position: absolute;
    list-style-type: none;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
  }
  .a-team-burger {
    padding: 8px;
    width: 34px;
    height: 34px;
  }
  .li-team-burger {
    width: 36px;
    height: 36px;
    border: 1px solid rgba(159, 154, 154, 0.2);
    border-radius: 10px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (min-width: 320px) and (min-resolution: 192dpi) {
  .mobile-menu {
    background-image: linear-gradient(
        to bottom,
        rgba(12, 12, 12, 0.92),
        rgba(12, 12, 12, 0.92)
      ),
      url(../img/menu/mobile-menu@2x.webp);
  }
}
/* Burger Tublet-Menu */
@media (min-width: 768px) and (max-width: 1280px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(100%);
    transition: transform 300ms ease-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(
        to bottom,
        rgba(12, 12, 12, 0.92),
        rgba(12, 12, 12, 0.92)
      ),
      url(../img/menu/tablet-menu@1x.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .ul-team {
    display: none;
  }
  .mobile-menu::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .mobile-content {
    z-index: 1;
  }
  .active-link::before {
    bottom: -10px;
  }
  .mobile-menu.is-open {
    z-index: 3;
    transform: translateX(0);
    transition-timing-function: ease-in;
  }
  .menu-btn {
    position: absolute;
    top: 26px;
    right: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
  }
  .mobile-menu-item:not(:last-child) {
    margin-bottom: 32px;
  }
  .mobile-menu-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    text-align: center;
    color: #fbfbfb;
  }
  .mobile-menu-icon {
    stroke-width: 3px;
    stroke: #fbfbfb;
    width: 24px;
    height: 24px;
  }
  .mobile-menu-list {
    margin-bottom: 32px;
  }
  .mobile-menu-socials {
    gap: 10px;
  }
  .svg-team {
    fill: #fbfbfb;
    width: 36px;
    height: 36px;
  }

 .a-team:hover .svg-team {
      fill: var(--color-accent);
  }

 .a-team:focus .svg-team {
      fill: var(--color-accent);
    }

  .a-team-burger {
    padding: 8px;
    width: 36px;
    height: 36px;
  }
  .li-team-burger {
    width: 36px;
    height: 36px;
    border: 1px solid rgba(159, 154, 154, 0.2);
    border-radius: 10px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .ul-team-burger {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 10px;
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media (min-width: 768px) and (min-resolution: 192dpi) {
  .mobile-menu {
    background-image: linear-gradient(
        to bottom,
        rgba(12, 12, 12, 0.92),
        rgba(12, 12, 12, 0.92)
      ),
      url(../img/menu/tablet-menu@2x.webp);
  }
}
