.hero {
  padding-top: 60px;
}


.hero-title {
  font-weight: 600;
  font-size: 40px;
  line-height: 95%;
  letter-spacing: -0.02em;
  color: var(--color-main);
  margin-bottom: 20px;
}

.span-title {
  color: var(--color-accent);
}

.hero .main-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  margin-bottom: 28px;
}

.hero-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--color-main);

  transition: color 300ms ease;
}

.hero-link:hover,
.hero-link:focus {
  color: var(--color-accent);
}

.hero-reviews-right {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 28px;
}

.hero-reviews-list {
  display: flex;
}

.hero-reviews-list .hero-reviews-item:not(:first-child) {
  margin-left: -12px;
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 80px;
  }

  .hero-title {
    font-size: 70px;
    line-height: 86%;
    /* width: 557px; */
  }

  .hero .main-text {
    font-size: 16px;
    line-height: 125%;
    width: 480px;
    margin: 0;
  }

  .hero-link {
    font-size: 20px;
    line-height: 100%;
  }

  .hero-content {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    /* gap: 11px; */
    margin-bottom: 40px;
  }

  .hero-reviews-right {
    /* align-items: flex-end; */
    flex-direction: column;
    margin: 0;
  }

  .hero-reviews-left {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
  }

  .team-ill {
    min-width: 56px;
  }

  .bestsellers-ill {
    min-width: 704px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-title {
    font-size: 72px;
    line-height: 87%;
    width: 597px;
  }

  .bestsellers-ill {
    min-width: 1150px;
  }
}
