.sale-title {
    font-weight: 600;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.02em;

    margin-bottom: 24px;
}

@media only screen and (min-width: 768px) {
    .sale-title {
        font-size: 48px;
        line-height: 0.92;

        margin-bottom: 40px;
    }
}

@media only screen and (min-width: 1280px) {
    .sale-and-overlay-container {
        display: flex;
        gap: 40px;
    }
}

.sale-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 5px;

    margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
    .sale-list {
        max-height: 590px;
        flex-direction: column;
        gap: 10px 20px;

        margin-bottom: 40px;
    }
}

@media only screen and (min-width: 1280px) {
    .sale-list {
        min-width: 580px;
        min-height: 558px;

        margin-bottom: 0;
    }
}

.sale-item {
    background-color: var(--color-cards);
    border: 1px solid rgba(12, 12, 12, 0.05);
    border-radius: 16px;

    padding: 13px 14px;
    display: flex;
    flex-basis: calc((100% - 15px) / 4);
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 768px) {
    .sale-item {
        border-radius: 20px;

        max-width: 132px;
        max-height: 132px;
        padding: 16px 18px;
    }
}

@media only screen and (min-width: 1280px) {
    .sale-item {
        max-width: 132px;
        max-height: 132px;
    }
}

.sale-item:last-child {
    border-radius: 30px;

    min-width: 100%;
    padding: 50px;
}

@media only screen and (min-width: 768px) {
    .sale-item:last-child {
        border-radius: 50px;

        min-width: 552px;
        min-height: 558px;
        padding: 80px 112px;
    }
}

@media only screen and (min-width: 1280px) {
    .sale-item:last-child {
        min-width: 428px;
        min-height: 100%;
        padding: 80px 50px;
    }
}

.sale-image {
    width: 100%;
    height: auto;
}

.sale-card-overlay {
    background-color: var(--color-accent);
    border-radius: 30px;
    min-width: 280px;
    padding: 14.4% 8.4%;
}

@media only screen and (min-width: 375px) {
    .sale-card-overlay {
        padding: 48px 28px;
    }
}

@media only screen and (min-width: 768px) {
    .sale-card-overlay {
        border-radius: 50px;

        padding: 60px;
    }
}

@media only screen and (min-width: 1280px) {
    .sale-card-overlay {
        max-width: 530px;
    }
}

.sale-card-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: -0.02em;
    color: var(--color-background);

    margin-bottom: 10px;
}

@media only screen and (min-width: 768px) {
    .sale-card-title {
        font-size: 32px;
        line-height: 1.13;

        width: 436px;
    }
}

@media only screen and (min-width: 1280px) {
    .sale-card-title {
        font-size: 32px;
        line-height: 1.13;

        width: 389px;
    }
}

.sale-card-sub-title {
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: rgb(97, 97, 97);

    margin-bottom: 20px;
}

.sale-card-discount-price-tag-container {
    display: inline-flex;
    width: 113px;
    height: 32px;
    position: relative;

    margin-bottom: 28px;
}

@media only screen and (min-width: 768px) {
    .sale-card-discount-price-tag-container {
        margin-bottom: 30px;
        width: 123px;
    }
}


.sale-card-price-tag {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    color: var(--color-background);
    background-color: rgba(251, 251, 251, 0.1);
    border-radius: 8px;

    width: 68px;
    height: 32px;
    padding: 8px 12px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 768px) {
    .sale-card-price-tag {
        font-size: 20px;
        line-height: 1;

        width: 78px;
        height: 32px;
    }
}

.sale-card-discount-price-tag {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.02em;
    text-decoration: line-through;
    color: rgb(97, 97, 97);

    position: absolute;
    top: 9px;
    right: 0;
}

.sale-card-description {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: rgb(97, 97, 97);

    margin-bottom: 28px;
}

@media only screen and (min-width: 768px) {
    .sale-card-description {
        font-size: 16px;
        line-height: 1.25;

        margin-bottom: 40px;
    }
}

.sale-card-feature-tag-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    min-width: 100%;
}

@media only screen and (min-width: 768px) {
    .sale-card-feature-tag-list {
        min-width: 370px;
        max-width: 398px;
    }
}

.sale-card-feature-tag-item {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    color: var(--color-background);
    outline: 1px solid rgba(251, 251, 251, 0.2);
    border-radius: 8px;

    max-width: 46%;
    min-width: 21%;
    height: auto;
    padding: 8px 12px;
}

@media only screen and (min-width: 768px) {
    .sale-card-feature-tag-item {
        font-size: 14px;
        line-height: 1.29;

        max-width: 145px;
        min-width: 64px;
    }
}